<style>

  .section-3{
background:linear-gradient(101deg,#9ce3d0,#ecf4cf, #dff6d4, #d0edb3, #c6ecac )!important;
}
  p#demo {
    margin-top: 0!important;
    font-family: 'DM Sans';
}
  .section-3{
background:linear-gradient(101deg,#9ce3d0,#ecf4cf, #dff6d4, #d0edb3, #c6ecac )!important;
}
  p#demo {
    margin-top: 0!important;
    font-family: 'DM Sans';     
    font-weight: 800;
}
.section-10 {
    background: linear-gradient( 
180deg, #8eef8680 17.82%, #d0eda83c 49.94%, #f9e8ac80 84.88%);
}
  p.time {
    float: left;
    width: 100%;
    margin: 0;}
  .section-3{
background:linear-gradient(101deg,#9ce3d0,#ecf4cf, #dff6d4, #d0edb3, #c6ecac )!important;
}
  p#demo {
    margin-top: 0!important;
    font-family: 'DM Sans';}
  .section-3{
background:linear-gradient(101deg,#9ce3d0,#ecf4cf, #dff6d4, #d0edb3, #c6ecac )!important;
}
  p#demo {
    margin-top: 0!important;
    font-family: 'DM Sans';
    font-weight: 800;
}
.section-10 {
    background: linear-gradient( 
180deg, #8eef8680 17.82%, #d0eda83c 49.94%, #f9e8ac80 84.88%);
}
  p.time {
    float: left;
    width: 100%;
    margin: 0;
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-left: 50px;
    top: 30px;
    right: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
li.menu-link-3 {
    margin-right: 60px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider {
    background-image: url('https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6194ff2c0feecef34f15879b_Mode%20Button.png');
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
    border-radius: 72px;
}
.dark-mode .et_pb_text_inner {
    color: #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode .dark_mode_div {
    background-color: #001547;
}
.dark-mode .et_pb_section{
   background-color: #001547;
}
.dark-mode .dark_mode_sec {
    background: #000;
    color: #fff !important;
}
header#nav .w-embed {
    width: 20px;
    float: right;
    margin-right: -10%;
    margin-top: -5.5%;
}
 .dark-mode .dark_mode_sec .bold-text, .dark-mode .dark_mode_sec h2, .dark-mode .dark_mode_sec p, .dark-mode .dark_mode_sec h1, .dark-mode .dark_mode_sec h3, .dark-mode .dark_mode_sec h4, .dark-mode .dark_mode_sec h5, .dark-mode .dark_mode_sec h6 {
    color: #fff;
} 
.right_colmn {
    right: 0px !important;
}
.right_colmn img {
    float: right;
}  
 .footer_social_cus .right {
    float: right;
}
.footer_social_cus .left {
    float: left;
}
 .dark-mode .dark_mode_sec a.button-2.w-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}
p#demo {
  font-size: 70px;
    margin-top: 46px;
}
.background_img_div {
    float: left;
    position: absolute;
    margin-top: 19%;
    left: 14%;
}
.background_img_div img {
    width: 77%;
    float: left;
    position: relative;
}
.rotate_image {
    position: absolute;
    left: 15%;
    z-index: 9;
    margin: 12% 0 0 -60px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 6s linear infinite;
}
.dark-mode .top_sec {
    color: #fff !important;
    background: linear-gradient( 333deg, #121212, #121212, #847c5e)!important;
}
.dark-mode .dark_mode_sec {
    background: #121212;
    color: #fff !important;
}
.heading-1.fade-up.top-bottom.fadeinup.animated.animatedfadeinup {
    font-size: 120px;
    line-height: 56px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.leftToRight .col-md-6 {
    width: 50%;
    float: left;
}  
.leftToRight p {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-left: 2%;
}  
.afin_announcement_bar {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}
.photobanner, .photobanner2 {
    margin-bottom: 5px;
}

.photobanner img, .photobanner2 img .photobanner p {
  margin-bottom: 10px;
  padding-right: 2px;
}

.photobanner img, .photobanner p {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.photobanner img, .photobanner p:hover {
    cursor: pointer;
}
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 8s linear infinite;
       -moz-animation: bannermove 8s linear infinite;
        -ms-animation: bannermove 8s linear infinite;
         -o-animation: bannermove 8s linear infinite;
            animation: bannermove 8s linear infinite;
}
.first_p {
    -webkit-animation: bannermove 7s linear infinite;
       -moz-animation: bannermove 7s linear infinite;
        -ms-animation: bannermove 7s linear infinite;
         -o-animation: bannermove 7s linear infinite;
            animation: bannermove 7s linear infinite;
}
 
/*@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}*/
.sec_coin.wf-section {
    background: #EAF8E9;
}
.section-4{
background: linear-gradient(90.01deg, #8EEF86 27.19%, rgba(119, 233, 128, 0.88) 59.85%, #FFF2C0 91.17%);}
.heading-4 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 100px;
    line-height: 100px;
}
.heading-5 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 100;
}
.button-3 {
    margin-top: 21px;
    padding-top: 9px;
    border: 1px #000;
    font-family: 'DM Sans',sans-serif;
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-radius: 45px;
    padding: 12px 22px;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.dark-mode .slider {
    background-image: url(https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6195feb71a46d43e39421df4_Sun.svg) !important;
    background-size: cover;
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
}
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color;}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4);}
.black .inner a:hover{border-color:#000;}

.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; background-size:100% auto;
}

.owl-controls{position:absolute; margin-top:300px;}
  
.section-10 {
    background: linear-gradient( 
180deg, #8eef8680 17.82%, #d0eda83c 49.94%, #f9e8ac80 84.88%);
}
  p.time {
    float: left;
    width: 100%;
    margin: 0;
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-left: 50px;
    top: 30px;
    right: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
li.menu-link-3 {
    margin-right: 60px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider {
    background-image: url('https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6194ff2c0feecef34f15879b_Mode%20Button.png');
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
    border-radius: 72px;
}
.dark-mode .et_pb_text_inner {
    color: #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode .dark_mode_div {
    background-color: #001547;
}
.dark-mode .et_pb_section{
   background-color: #001547;
}
.dark-mode .dark_mode_sec {
    background: #000;
    color: #fff !important;
}
header#nav .w-embed {
    width: 20px;
    float: right;
    margin-right: -10%;
    margin-top: -5.5%;
}
 .dark-mode .dark_mode_sec .bold-text, .dark-mode .dark_mode_sec h2, .dark-mode .dark_mode_sec p, .dark-mode .dark_mode_sec h1, .dark-mode .dark_mode_sec h3, .dark-mode .dark_mode_sec h4, .dark-mode .dark_mode_sec h5, .dark-mode .dark_mode_sec h6 {
    color: #fff;
} 
.right_colmn {
    right: 0px !important;
}
.right_colmn img {
    float: right;
}  
 .footer_social_cus .right {
    float: right;
}
.footer_social_cus .left {
    float: left;
}
 .dark-mode .dark_mode_sec a.button-2.w-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}
p#demo {
  font-size: 70px;
    margin-top: 46px;
}
.background_img_div {
    float: left;
    position: absolute;
    margin-top: 19%;
    left: 14%;
}
.background_img_div img {
    width: 77%;
    float: left;
    position: relative;
}
.rotate_image {
    position: absolute;
    left: 15%;
    z-index: 9;
    margin: 12% 0 0 -60px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 6s linear infinite;
}
.dark-mode .top_sec {
    color: #fff !important;
    background: linear-gradient( 333deg, #121212, #121212, #847c5e)!important;
}
.dark-mode .dark_mode_sec {
    background: #121212;
    color: #fff !important;
}
.heading-1.fade-up.top-bottom.fadeinup.animated.animatedfadeinup {
    font-size: 120px;
    line-height: 56px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.leftToRight .col-md-6 {
    width: 50%;
    float: left;
}  
.leftToRight p {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-left: 2%;
}  
.afin_announcement_bar {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}

.photobanner, .photobanner2 {
    margin-bottom: 5px;
}

.photobanner img, .photobanner2 img .photobanner p{
  margin-bottom: 10px;
  padding-right: 2px;
}

.photobanner img, .photobanner p {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
/*.photobanner img, .photobanner p:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}*/
.photobanner img, .photobanner p:hover {
    cursor: pointer;
}
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 8s linear infinite;
       -moz-animation: bannermove 8s linear infinite;
        -ms-animation: bannermove 8s linear infinite;
         -o-animation: bannermove 8s linear infinite;
            animation: bannermove 8s linear infinite;
}
.first_p {
    -webkit-animation: bannermove 7s linear infinite;
       -moz-animation: bannermove 7s linear infinite;
        -ms-animation: bannermove 7s linear infinite;
         -o-animation: bannermove 7s linear infinite;
            animation: bannermove 7s linear infinite;
}
 
/*@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-moz-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-webkit-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-ms-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-o-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}*/
.sec_coin.wf-section {
    background: #EAF8E9;
}
.section-4{
background: linear-gradient(90.01deg, #8EEF86 27.19%, rgba(119, 233, 128, 0.88) 59.85%, #FFF2C0 91.17%);}
.heading-4 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 100px;
    line-height: 100px;
}
.heading-5 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 100;
}
.button-3 {
    margin-top: 21px;
    padding-top: 9px;
    border: 1px #000;
    font-family: 'DM Sans',sans-serif;
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-radius: 45px;
    padding: 12px 22px;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.dark-mode .slider {
    background-image: url(https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6195feb71a46d43e39421df4_Sun.svg) !important;
    background-size: cover;
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
}
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
    position:absolute;
    bottom:30px; left:0; 
    right:0;
    text-align:center;
}

.inner a{
    color:#fff;
    text-decoration:none;
    border-bottom:2px solid rgba(255,255,255,0.5); 
    transition:.3s ease border-color;
}
.inner a:hover{
    border-color:#fff;
}
.black .inner a{
    color:#000; 
    border-color:rgba(0,0,0,0.4);}
.black .inner a:hover{border-color:#000;}

.owl-carousel:after{
    content:""; 
    display:block; 
    position:absolute;
    width:8%;
    top:0; 
    bottom:0; 
    left:50%; 
    margin-left:-4%;
    pointer-events: none; 
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; 
    background-size:100% auto;
}

.owl-controls{
 position:absolute;
 margin-top:300px;
}
  

 
</style>
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-left: 50px;
    top: 30px;
    right: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
li.menu-link-3 {
    margin-right: 60px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider {
    background-image: url('https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6194ff2c0feecef34f15879b_Mode%20Button.png');
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
    border-radius: 72 px;
}
.dark-mode .et_pb_text_inner {
    color: #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode .dark_mode_div {
    background-color: #001547;
}
.dark-mode .et_pb_section{
   background-color: #001547;
}
.dark-mode .dark_mode_sec {
    background: #000;
    color: #fff !important;
}
header#nav .w-embed {
    width: 20px;
    float: right;
    margin-right: -10%;
    margin-top: -5.5%;
}
 .dark-mode .dark_mode_sec .bold-text, .dark-mode .dark_mode_sec h2, .dark-mode .dark_mode_sec p, .dark-mode .dark_mode_sec h1, .dark-mode .dark_mode_sec h3, .dark-mode .dark_mode_sec h4, .dark-mode .dark_mode_sec h5, .dark-mode .dark_mode_sec h6 {
    color: #fff;
} 
.right_colmn {
    right: 0px !important;
}
.right_colmn img {
    float: right;
}  
 .footer_social_cus .right {
    float: right;
}
.footer_social_cus .left {
    float: left;
}
 .dark-mode .dark_mode_sec a.button-2.w-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}
p#demo {
  font-size: 70px;
    margin-top: 46px;
}
.background_img_div {
    float: left;
    position: absolute;
    margin-top: 19%;
    left: 14%;
}
.background_img_div img {
    width: 77%;
    float: left;
    position: relative;
}
.rotate_image {
    position: absolute;
    left: 15%;
    z-index: 9;
    margin: 12% 0 0 -60px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 6s linear infinite;
}
.dark-mode .top_sec {
    color: #fff !important;
    background: linear-gradient( 333deg, #121212, #121212, #847c5e)!important;
}
.dark-mode .dark_mode_sec {
    background: #121212;
    color: #fff !important;
}
.heading-1.fade-up.top-bottom.fadeinup.animated.animatedfadeinup {
    font-size: 120px;
    line-height: 56px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.leftToRight .col-md-6 {
    width: 50%;
    float: left;
}  
.leftToRight p {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-left: 2%;
}  
/ Photo Banner /
.afin_announcement_bar {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}

.photobanner, .photobanner2 {
    margin-bottom: 5px;
}

.photobanner img, .photobanner2 img .photobanner p,  {
  margin-bottom: 10px;
  padding-right: 2px;
}

.photobanner img, .photobanner p {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
/*.photobanner img, .photobanner p:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}*/
.photobanner img, .photobanner p:hover {
    cursor: pointer;
}
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 8s linear infinite;
       -moz-animation: bannermove 8s linear infinite;
        -ms-animation: bannermove 8s linear infinite;
         -o-animation: bannermove 8s linear infinite;
            animation: bannermove 8s linear infinite;
}
.first_p {
    -webkit-animation: bannermove 7s linear infinite;
       -moz-animation: bannermove 7s linear infinite;
        -ms-animation: bannermove 7s linear infinite;
         -o-animation: bannermove 7s linear infinite;
            animation: bannermove 7s linear infinite;
}
 
@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-moz-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-webkit-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-ms-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-o-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
.sec_coin.wf-section {
    background: #EAF8E9;
}
.section-4{
background: linear-gradient(90.01deg, #8EEF86 27.19%, rgba(119, 233, 128, 0.88) 59.85%, #FFF2C0 91.17%);}
.heading-4 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 100px;
    line-height: 100px;
}
.heading-5 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 100;
}
.button-3 {
    margin-top: 21px;
    padding-top: 9px;
    border: 1px #000;
    font-family: 'DM Sans',sans-serif;
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-radius: 45px;
    padding: 12px 22px;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.dark-mode .slider {
    background-image: url(https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6195feb71a46d43e39421df4_Sun.svg) !important;
    background-size: cover;
    width: 67%;
    background-repeat: no-repeat;
    height: 41 px;
}
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{position:absolute; bottom:30px; left:0; right:0; text-align:center;}
.inner a{color:#fff; text-decoration:none; border-bottom:2px solid rgba(255,255,255,0.5); transition:.3s ease border-color;}
.inner a:hover{border-color:#fff;}
.black .inner a{color:#000; border-color:rgba(0,0,0,0.4);}
.black .inner a:hover{border-color:#000;}

.owl-carousel:after{content:""; display:block; position:absolute; width:8%; top:0; bottom:0; left:50%; margin-left:-4%; pointer-events: none; background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; background-size:100% auto;
}

.owl-controls{position:absolute; margin-top:300px;}
  
.section-10 {
    background: linear-gradient( 
180deg, #8eef8680 17.82%, #d0eda83c 49.94%, #f9e8ac80 84.88%);
}
  p.time {
    float: left;
    width: 100%;
    margin: 0;
    border-top: 1px solid gray;
    margin-top: 40px;
    padding-top: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-left: 50px;
    top: 30px;
    right: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
li.menu-link-3 {
    margin-right: 60px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider {
    background-image: url('https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6194ff2c0feecef34f15879b_Mode%20Button.png');
    width: 67%;
    background-repeat: no-repeat;
    height: 41px;
    border-radius: 72 px;
}
.dark-mode .et_pb_text_inner {
    color: #fff;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dark-mode .dark_mode_div {
    background-color: #001547;
}
.dark-mode .et_pb_section{
   background-color: #001547;
}
.dark-mode .dark_mode_sec {
    background: #000;
    color: #fff !important;
}
header#nav .w-embed {
    width: 20px;
    float: right;
    margin-right: -10%;
    margin-top: -5.5%;
}
 .dark-mode .dark_mode_sec .bold-text, .dark-mode .dark_mode_sec h2, .dark-mode .dark_mode_sec p, .dark-mode .dark_mode_sec h1, .dark-mode .dark_mode_sec h3, .dark-mode .dark_mode_sec h4, .dark-mode .dark_mode_sec h5, .dark-mode .dark_mode_sec h6 {
    color: #fff;
} 
.right_colmn {
    right: 0px !important;
}
.right_colmn img {
    float: right;
}  
 .footer_social_cus .right {
    float: right;
}
.footer_social_cus .left {
    float: left;
}
 .dark-mode .dark_mode_sec a.button-2.w-button {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
}
p#demo {
  font-size: 70px;
    margin-top: 46px;
}
.background_img_div {
    float: left;
    position: absolute;
    margin-top: 19%;
    left: 14%;
}
.background_img_div img {
    width: 77%;
    float: left;
    position: relative;
}
.rotate_image {
    position: absolute;
    left: 15%;
    z-index: 9;
    margin: 12% 0 0 -60px;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 6s linear infinite;
}
.dark-mode .top_sec {
    color: #fff !important;
    background: linear-gradient( 333deg, #121212, #121212, #847c5e)!important;
}
.dark-mode .dark_mode_sec {
    background: #121212;
    color: #fff !important;
}
.heading-1.fade-up.top-bottom.fadeinup.animated.animatedfadeinup {
    font-size: 120px;
    line-height: 56px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.leftToRight .col-md-6 {
    width: 50%;
    float: left;
}  
.leftToRight p {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    margin-left: 2%;
}  
/ Photo Banner /
.afin_announcement_bar {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}

.photobanner, .photobanner2 {
    margin-bottom: 5px;
}

.photobanner img, .photobanner2 img .photobanner p,  {
  margin-bottom: 10px;
  padding-right: 2px;
}

.photobanner img, .photobanner p {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
/*.photobanner img, .photobanner p:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
 
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}*/
.photobanner img, .photobanner p:hover {
    cursor: pointer;
}
/*keyframe animations*/
.first {
    -webkit-animation: bannermove 8s linear infinite;
       -moz-animation: bannermove 8s linear infinite;
        -ms-animation: bannermove 8s linear infinite;
         -o-animation: bannermove 8s linear infinite;
            animation: bannermove 8s linear infinite;
}
.first_p {
    -webkit-animation: bannermove 7s linear infinite;
       -moz-animation: bannermove 7s linear infinite;
        -ms-animation: bannermove 7s linear infinite;
         -o-animation: bannermove 7s linear infinite;
            animation: bannermove 7s linear infinite;
}
 
@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-moz-keyframes bannermove {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-webkit-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-ms-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
 
@-o-keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -2125px;}
}
.sec_coin.wf-section {
    background: #EAF8E9;
}
.section-4{
background: linear-gradient(90.01deg, #8EEF86 27.19%, rgba(119, 233, 128, 0.88) 59.85%, #FFF2C0 91.17%);}
.heading-4 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 100px;
    line-height: 100px;
}
.heading-5 {
    font-family: 'DM Sans',sans-serif;
    color: #000;
    font-size: 48px;
    font-weight: 100;
}
.button-3 {
    margin-top: 21px;
    padding-top: 9px;
    border: 1px #000;
    font-family: 'DM Sans',sans-serif;
    color: #494949;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-radius: 45px;
    padding: 12px 22px;
}
/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: sans-serif; }

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.dark-mode .slider {
    background-image: url(https://uploads-ssl.webflow.com/619241973fb9e78ad0ef21ba/6195feb71a46d43e39421df4_Sun.svg) !important;
    background-size: cover;
    width: 67%;
    background-repeat: no-repeat;
    height: 41 px;
}
.item{
  opacity:0.4;
  transition:.4s ease all;
  margin:0 20px;
  transform:scale(.8);
}
@media(max-width:1000px){
  .item{margin:0; transform:scale(.9)}
}
.active .item{
  opacity:1;
  transform:scale(1);
} 
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.inner{
    position:absolute;
    bottom:30px; left:0; 
    right:0;
    text-align:center;
}

.inner a{
    color:#fff;
    text-decoration:none;
    border-bottom:2px solid rgba(255,255,255,0.5); 
    transition:.3s ease border-color;
}
.inner a:hover{
    border-color:#fff;
}
.black .inner a{
    color:#000; 
    border-color:rgba(0,0,0,0.4);}
.black .inner a:hover{border-color:#000;}

.owl-carousel:after{
    content:""; 
    display:block; 
    position:absolute;
    width:8%;
    top:0; 
    bottom:0; 
    left:50%; 
    margin-left:-4%;
    pointer-events: none; 
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/43033/aett_logo_slider.png) no-repeat center 50%; 
    background-size:100% auto;
}

.owl-controls{
 position:absolute;
 margin-top:300px;
}
  

 
</style>
